<hr/>
<footer>
  <i class="fa fa-envelope-o fa-lg"></i>&nbsp;matt@mattarcher.co.uk
  <span style="display: inline-block; width: 0.5em;"></span>
  <i class="fa fa-envelope-o fa-lg"></i>&nbsp;ma595@cam.ac.uk
  <span style="display: inline-block; width: 0.5em;"></span>
  <a class="fa-stack" href="https://twitter.com/mattjarcher">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x"></i>
  </a>
  <a class="fa-stack" href="https://github.com/mjArcher">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-github-alt fa-stack-1x"></i>
  </a>
  <a class="fa-stack" href="https://www.linkedin.com/in/matthew-archer-88987966">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-linkedin fa-stack-1x"></i>
  </a>
</footer>
<!-- <center><img src="/img/example.png" width=500 style="border:1px; position:relative; padding-top: 30px"> -->
</center>
