<hr/>
<footer>
  <i class="fa fa-envelope-o fa-lg"></i>&nbsp;jeffreysalmond@gmail.com
  <span style="display: inline-block; width: 0.5em;"></span>
  <i class="fa fa-envelope-o fa-lg"></i>&nbsp;js947@cam.ac.uk
  <span style="display: inline-block; width: 0.5em;"></span>
  <a class="fa-stack" href="https://twitter.com/js947">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x"></i>
  </a>
  <a class="fa-stack" href="https://github.com/js947">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-github-alt fa-stack-1x"></i>
  </a>
  <a class="fa-stack" href="//www.linkedin.com/pub/jeffrey-salmond/74/731/3a1">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-linkedin fa-stack-1x"></i>
  </a>
</footer>
